<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Szachy</title>

    <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/dark.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/chess/cm-chessboard.css" type="text/css">
</head>
<body>
    {{!-- style="overflow:hidden;" --}}
    <div class="bg-div">
        <h1>The Gang Słoni Chess App development has been cancelled.</h1>
        <div class="link">
            <a href="/" class="button">Strona Główna</a>
        </div>

        <div class="board-container" align="center">
            <div class="board" id="board"></div>
        </div>
    </div>
    <script type="module" src="../../chess/scripts/chessScript.js"></script>
</body>
</html>