* {
    cursor: url('../../images/cursor.png') 10 10, auto;
    font-family: 'Poppins', sans-serif;
}

html {
    cursor: url('../../images/cursor.png') 10 10, auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(12, 12, 12);
    height: 100%;
    margin: 0;
    cursor: url('../../images/cursor.png') 10 10, auto;
    /* overflow: hidden; */
}

.bg-div {
    height: 100vh;
    width: 100%;
    cursor: url('../../images/cursor.png') 10 10, auto;
}

.title {
    color: white;
    text-align: center;
    font-size: 72px;
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 36px;
    transform: translateY(-80%);
}

.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: url('../../images/cursor.png') 10 10, auto;
    font-size: 20px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.buttons {
    line-height: 200px;
    height: 200px;
    text-align: center;
}

#wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lb {
    display: inline-block;
    width: 370px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
    /*border: 5px solid red;*/
}

#lb h2 {
    text-align: center;
    text-shadow: 1px 1px black;
    transform: translateY(-400%);
}

.leaderboard1 {
    margin-left: 29%;
}

.leaderboard2 {
    margin-right: 25%;
}

.lbtitle {
    color: white;
    text-align: center;
    transform: translateY(-100px);
    font-size: 68px;
}

.t1 {
    color: gold;
}

.t2 {
    color: silver;
}

.t3 {
    color: #cd7f32;
}

h1 {
    color: #fff;
    text-align: center;
}

.link a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link {
    justify-content: center;
    margin: auto;
    width: 12%;
    padding: 10px;
}