<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Main</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/dark.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/site-specific/card.css" type="text/css">
</head>
<body>
  <div class="link">
    <a href="/" class="button">Strona Główna</a>
</div>

    <section class="card-list">
        <article class="card">
          <header class="card-header">
            <h2 class="owner">Właściciel</h2>
            <h3>Alkosik</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/owner.gif"/>
            </a>
            <!-- <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg> -->
  
            <!-- <div class="author-name">
              <div class="author-name-prefix">Author</div>
              Jeff Delaney
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div> -->
        </article>
  
  
  
        <article class="card">
          <header class="card-header">
            <h2 class="network-admin">Administrator Sieci</h2>
            <h3>Nobody</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/network-admin.webp" />
            </a>
        </article>
  
  
  
  
        <article class="card">
          <header class="card-header">
            <h2 class="main-admin">Administrator Główny</h2>
            <h3>Zdzisiek Kompresor</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/main-admin.webp" />
            </a>
        </article>
      </section>
      <section class="card-list">
  
        <article class="card">
          <header class="card-header">
            <h2 class="admin">Administrator</h2>
            <h3>DranHeW</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/stadmin.gif" />
            </a>
        </article>
  
  
        <article class="card">
          <header class="card-header">
            <h2 class="admin">Administrator</h2>
            <h3>Shunpo</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/secadmin.webp" />
            </a>
        </article>
  
        <article class="card">
          <header class="card-header">
            <h2 class="main-mod">Moderator Główny</h2>
            <h3>REKRUTACJA</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/d.png" />
            </a>
        </article>
    </section>
    <section class="card-list">
  
        <article class="card">
          <header class="card-header">
            <h2 class="mod">Moderator</h2>
            <h3>Gredży</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="./images/stmod.webp" />
            </a>
        </article>

        <article class="card">
          <header class="card-header">
            <h2 class="mod">Moderator</h2>
            <h3>REKRUTACJA</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="" />
            </a>
        </article>

        <article class="card">
          <header class="card-header">
            <h2 class="mod">Moderator</h2>
            <h3>REKRUTACJA</h3>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="" />
            </a>
        </article>
  
  
  
   </section>
</body>
</html>