<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Administracja</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
</head>
<body>
    <div>
        <h1 class="owner">Właściciel</h1>
        <h2>Alkosik</h2>
        <h1 class="sec-owner">Współwłaściciel</h1>
        <h2>Gredży</h2>
        <h1 class="admin">Administrator Sieci</h1>
        <h2>OG</h2>
        <h1 class="admin">Administrator Główny</h1>
        <h2>Nobody</h2>
        <h1 class="admin">Administrator</h1>
        <h2>Marcinek, Shunpo, Arek</h2>
    </div>

    <div class="link">
        <a href="/">Ranking</a>
        <a href="stats">Statystyki</a>
    </div>
</body>
</html>