<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Administracja</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/site-specific/admins.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/lines.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/navbar.css" type="text/css">
</head>
<body>
    <!-- <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Strona Główna</a>
        <a href="#">Ranking</a>
        <a href="#">Administracja</a>
        <a href="#">Mody</a>
      </div> -->
      
      <!-- Use any element to open the sidenav -->
      <!-- <span onclick="openNav()">open</span>
      <img src="./images/logo.png" alt="odbyt" onclick="openNav()"> -->
      
      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <div id="main">
        <div>
            <h1 class="owner">Właściciel</h1>
            <h3>Alkosik#5845</h3>
            <h1 class="network-admin">Administrator Sieci</h1>
            <h3>Nobody#4444</h3>
            <h1 class="main-admin">Administrator Główny</h1>
            <h3>Marcinek#1745</h3>
            <h1 class="admin">Administrator</h1>
            <h3>DranHeW#5543,</h3><h3 class="open">REKRUTACJA</h3>
            <h1 class="main-mod">Moderator Główny</h1>
            <h3 class="open">REKRUTACJA</h3>
            <h1 class="mod">Moderator</h1>
            <h3 class="open">REKRUTACJA x2</h3>
        </div>
    
        <div class="link">
            <a href="/">Strona Główna</a>
        </div>
    
        <!-- <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>      -->
      </div> 

      <script>/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
        } </script>
</body>
</html>