<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni</title>


    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="title">Gang Słoni</h1>
    <p class="subtitle">ranking</h1>

    <div class="leaderboard">
        <h2 class="t1"><%= top1 %></h2>
        <h2 class="t2"><%= top2 %></h2>
        <h2 class="t3"><%= top3 %></h2>
    </div>
</body>
</html>