<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Main</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/dark.css" type="text/css">
</head>
<body>
    <div class="btn-container">
        <a href="ranking" class="button">Ranking</a>
        <a href="admins" class="button">Administracja</a>
        <a href="stats" class="button">Statystyki</a>
        <a href="mods" class="button">Mody</a>
        <a href="auth" class="button">Authorization</a>
    </div>
</body>
</html>