<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/site-specific/mods.css" type="text/css">
    <!-- <link rel="stylesheet" href="./assets/css/stars.css" type="text/css"> -->

    <title>Gang Słoni - Mody</title>
</head>
<body>

    <h1 class="title">Gang Słoni</h1>
    <p class="subtitle">Mody - 1.12.2</p>

    <div class="container">
        <a href="https://maven.minecraftforge.net/net/minecraftforge/forge/1.12.2-14.23.5.2855/forge-1.12.2-14.23.5.2855-installer.jar" class="button">Forge</a>

        <a href="https://cdn-121.anonfiles.com/X1Vbee20ud/92a8b693-1624142436/modpack.zip" class="button">Modpack</a>

        <a href="https://optifine.net/adloadx?f=OptiFine_1.12.2_HD_U_G5.jar&x=bb73" class="button">Optifine (untested)</a>
    </div>

    <p class="description">RAM 4.5 - 5 GB</p>

    <div class="link">
        <a href="/">Strona Główna</a>
    </div>
    <!-- <script src="/assets/scripts/paralax.js"></script> -->
</body>
</html>