<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Stats</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <h1>Aktualna liczba członków</h1>
    <h2 id="memCounter"><%= userCount %> </h2>

    <script>
        var socket = io();

        socket.on('web_update', function (userCount) {
            var memCount = document.getElementById('memCounter');
            

            memCount.textContent = userCount;
        });
    </script>
</body>
</html>