<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Słoni - Stats</title>

    <link rel="stylesheet" href="./assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="./assets/css/site-specific/stats.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-div">
        <div class="wrapper">
            <div>
                <h1>Aktualna liczba <br>członków</h1>
                <h2 id="memCounter" class="value"><%= userCount %> </h2>
            </div>
            <div>
                <h1>Aktualna liczba <br>członków online</h1>
                <h2 id="onlineMemCounter" class="value"><%= onlineCount %> </h2>
            </div>
            <div>
                <h1>Aktualna liczba <br>członków</h1>
                <h2 id="memCounter" class="value"><%= userCount %> </h2>
            </div>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        socket.on('web_update', function (userCount, onlineCount) {
            var memCount = document.getElementById('memCounter');
            var liveCount = document.getElementById('onlineMemCounter')
            //var onlineMemCount = document.getElementById('onlineMemCounter');
            

            memCount.textContent = userCount;
            liveCount.textContent = onlineCount;
            //onlineMemCount.textContent = onlineCount;
        });
    </script>
</body>
</html>